# 4.5. Data Consistency Checks

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# importing data sets
path = r'/Users/peimei/09-2023 Instacart Basket Analysis'
df_prods = pd.read_csv(os.path.join(path,'02 Data','Original Data','products.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_wrangled.csv'), index_col = 0)

In [3]:
# create a dataframe
df_test = pd.DataFrame()

In [4]:
# create a mixed-type column
df_test['mix'] = ['a', 'b', 1, True]

In [5]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [6]:
# Check for mixed-type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

# Exercise 4.5 Task
**1. If you haven’t performed the consistency checks covered in this Exercise on your df_prods dataframe, do so now.**

In [7]:
# Check for total number of missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [8]:
df_prods.isnull()

       product_id  product_name  aisle_id  department_id  prices
0           False         False     False          False   False
1           False         False     False          False   False
2           False         False     False          False   False
3           False         False     False          False   False
4           False         False     False          False   False
...           ...           ...       ...            ...     ...
49688       False         False     False          False   False
49689       False         False     False          False   False
49690       False         False     False          False   False
49691       False         False     False          False   False
49692       False         False     False          False   False

[49693 rows x 5 columns]

In [9]:
# Create a subset containing rows whose product_name has missing value
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [10]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [11]:
df_prods.shape

(49693, 5)

In [12]:
# create a new df, excluding rows with missing data in column "product_name"
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [13]:
df_prods_clean.shape

(49677, 5)

**16 rows with missing data have been successfully removed.**

In [14]:
# create a subset containing full duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated(keep=False)]

In [15]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
461,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18458,18458,Ranger IPA,27,5,9.2
18459,18458,Ranger IPA,27,5,9.2
26809,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35308,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35494,35491,Adore Forever Body Wash,127,11,9.9
35495,35491,Adore Forever Body Wash,127,11,9.9

In [16]:
df_prods_clean.shape

(49677, 5)

In [17]:
# create a new df without the full duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [18]:
df_prods_clean_no_dups.shape

(49672, 5)

**5 rows of full duplicates have been successfully removed.**

In [19]:
# df_dups_2 = df_prods_clean_no_dups[df_prods_clean_no_dups['product_id'].duplicated(keep=False)]
# df_dups_2

In [20]:
# df_dups_3 = df_prods_clean_no_dups[df_prods_clean_no_dups['product_name'].duplicated(keep=False)]
# df_dups_3

In [21]:
# exporting dataframe "df_prods_clean_no_dups"
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

**2. Run the df.describe() function on your df_ords dataframe. Using your new knowledge about how to interpret the output of this function, share in a markdown cell whether anything about the data looks off or should be investigated further.**

In [22]:
df_ords.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,no_of_days_since_last_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

**My observations with a focus on min and max values:**
1. Column "order_id" ranges between 1 and 3421083 -> looks normal.
2. Column "user_id" ranges between 1 and 206209 -> looks normal.
3. Column "order_number" ranges between 1 and 100 -> looks normal.
4. Column "order_day_of_week" ranges between 0 and 6 -> looks normal.
5. Column "order_hour_of_day" ranges between 0 and 23 -> looks normal.
6. Column "no_of_days_since_last_order" ranges between 0 and 30 -> looks normal.

**3. Check for mixed-type data in your df_ords dataframe**

In [23]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' non-mixed')

order_id  non-mixed
user_id  non-mixed
eval_set  non-mixed
order_number  non-mixed
order_day_of_week  non-mixed
order_hour_of_day  non-mixed
no_of_days_since_last_order  non-mixed

**4. If you find mixed-type data, fix it. The column in question should contain observations of a single data type.**

No mixed-type data is found.

**5. Run a check for missing values in your df_ords dataframe.**

In [24]:
df_ords.isnull().sum()

order_id                            0
user_id                             0
eval_set                            0
order_number                        0
order_day_of_week                   0
order_hour_of_day                   0
no_of_days_since_last_order    206209
dtype: int64

**My findings:** Only the column "no_of_days_since_last_order" has missing values. This is justifiable as the value will be zero when a customer makes two purchases on one day or it is a new customer who is placing the very first order.

**6. Address the missing values using an appropriate method.**

In [25]:
df_ords_nan = df_ords[df_ords['no_of_days_since_last_order'].isnull() == True]

In [26]:
df_ords_nan

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,no_of_days_since_last_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

In [27]:
has_duplicates = df_ords_nan['user_id'].duplicated().any()
has_duplicates

False

In [28]:
df_ords_nan['order_number'].value_counts()

1    206209
Name: order_number, dtype: int64

**Handling the missing values:** Looking at the subset of all the rows with missing value in the column "no_of_days_since_last_order", I conclude that the user_ids are consecutive unique numbers with the last number being 206209, which is same as the total count of missing values. Moreover, the order number of each and every row is "1." We can infer that these rows reepresent all the first orders of each customer/user. Based on that, there is no need to make any change to the null values.

**7. Run a check for duplicate values in your df_ords data.**

In [29]:
df_ords_dups = df_ords[df_ords.duplicated()]

In [30]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_day_of_week, order_hour_of_day, no_of_days_since_last_order]
Index: []

**My findings:** There are no duplicates.

**8. Address the duplicates using an appropriate method.**

No action is needed as there are no duplicates in the dataframe.

**9. Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names.**

In [31]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))