In [20]:
# Import libraries
import pandas as pd
import numpy as np
import os

**3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.**

In [21]:
# Import data set
path = r'/Users/peimei/09-2023 Instacart Basket Analysis'
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

**4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).**

In [22]:
df_orders_products_combined.shape

(32434489, 11)

In [23]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,no_of_days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

**5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.**

In [24]:
# Import data set
path = r'/Users/peimei/09-2023 Instacart Basket Analysis'
df_products = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [25]:
df_dup = df_products[df_products['product_id'].duplicated(keep=False)]
df_dup

,product_id,product_name,aisle_id,department_id,prices
6799,6800,Revive Zero Vitamin Water,64,7,6.4
6800,6800,Sprouted Quinoa Flakes Baby Cereal,92,18,14.0
26520,26520,Clinical Advanced Solid Ultimate Fresh Anti-Pe...,80,11,10.6
26521,26520,Cheese Shredded Sharp Cheddar Reduced Fat 2%,21,16,2.9

In [26]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [27]:
df_products.shape

(49672, 5)

In [28]:
# Merge dataframes
df_orders_products_merged = df_orders_products_combined.merge(df_products, on = 'product_id', how = 'inner', indicator = 'merge_result')

**6. Confirm the results of the merge using the merge flag.**

In [29]:
#Check the merge result
df_orders_products_merged['merge_result'].value_counts()

both          32404859
left_only            0
right_only           0
Name: merge_result, dtype: int64

In [30]:
df_orders_products_merged.shape

(32404859, 16)

In [31]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,no_of_days_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_result
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

In [32]:
# Drop two unnecessary columns
df_orders_products_merged_2 = df_orders_products_merged.drop(columns = ['eval_set'])
df_orders_products_merged_2 = df_orders_products_merged_2.drop(columns = ['_merge'])

In [33]:
df_orders_products_merged_2.shape

(32404859, 14)

**7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).**

In [34]:
# Export data to pkl
df_orders_products_merged_2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))